%header
  %h2 Match 2384!!
  .wrapper
    %nav#grobal-navi
      = icon("fas", "bars")
      %ul.menu
        %li
          = link_to "仕事を探す", "#"
        %li
          = link_to "仕事を依頼する", "#"
        %li
          = link_to "マイジョブ", "#"
        %li
          = link_to "プロフィール", "#"
        %li
          = link_to "ログアウト", "#"

%main
  %h3 募集中の案件一覧


%footer
  %p ©︎ 2020 office2384 Co., Ltd.
