%h2編集画面
%ul
  .UserForm
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      %li.UserForm__image
        = f.label :profile_image do
          = image_tag 'test.jpeg', alt: "プロフィール画像" 
          = f.file_field :profile_image, class: "Hidden"
      %li.UserForm__name
        .UserForm__name__last_name
          = f.label :last_name, "姓"
          %br/
          = f.text_field :last_name
        .UserForm__name__first_name
          = f.label :first_name, "名"
          %br/
          = f.text_field :first_name
      %li
        = f.label :bitrhday, "生年月日"
        %br/
        = f.date_select :birthday,  use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 15), default: Date.new(1989, 1 ,1)
      %li
        = f.label :gender, "性別"
        %br/
        = f.text_field :gender
      %li
        = f.label :achievement, "実績"
        %br/
        = f.text_area :achievement, placeholder: "例）東京ゲームショー2019 〇〇ブース 進行ディレクター"
        
      %li
        = f.label :email, "メールアドレス"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %li
        = f.label :password, "パスワード（#{@minimum_password_length}文字以上32文字以下 ※変更しない場合は空白）"
        %br/
        = f.password_field :password, autocomplete: "new-password"
      %li
        = f.label :password_confirmation, "パスワード（再度入力してください）"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      %li
        = f.label :current_password, "現在のパスワード"
        %br/
        = f.password_field :current_password, autocomplete: "current-password"
      %li
        = f.submit "会員情報を更新する"
%h3 会員登録を解除する
= button_to "退会する", user_registration_path, data: { confirm: "本当に退会しますか?" }, method: :delete

