- provide(:page_title, 'ユーザー情報')

.user__show
  - if @user.profile_image.present?
    = image_tag @user.profile_image.url, alt: "プロフィール画像", class: "img_prev"
  - else
    = image_tag "default.png", alt: "プロフィール画像", class: "img_prev"
  %table
    %tr
      %th 氏名
      %td
        = "#{@user.last_name} #{@user.first_name}"
    -# 本人もしくはユーザーがエントリーしている案件のownerのみemail開示
    -if current_user.id == @user.id || @array.include?(@user.id)
      %tr
        %th 連絡先
        %td
          =@user.email
    %tr
      %th 生年月日
      %td
        - if @user.birthday.present?
          = @user.birthday.strftime("%Y年%-m月%-d日")
        - else
          = "---"
    %tr
      %th 性別
      %td
        - if @user.gender.present?
          = @user.gender_i18n
        - else
          = "---"
    %tr
      %th 実績
      %td.font_adjust
        - if @user.achievement.present?
          = safe_join(@user.achievement.split("\n"), tag(:br))
        - else
          = "---"
  - if current_user.id == @user.id
    = button_to "編集する", edit_user_registration_path, method: :get, class: "btn_user_edit"
  = link_to "戻る", :back, class: "link_user_edit"