.event__card
  %a.event-detail-link{ href: event_path(event)}
  -# = link_to "", event_path(event.id), class: "link__card"
  %h5.event__title= event.name
  %table
    %tr
      %th 日程
      %td{colspan: 3}
        = event.start_day.strftime('%Y年%-m月%-d日')
        - if event.end_day.present?
          = "〜 #{event.end_day.strftime('%-m月%-d日')}"
    %tr
      %th 場所
      %td= event.prefecture.prefecture_name
      %th.small 役割
      %td= event.position.name
    %tr
      %th 日給
      %td
        - if event.daily_wage.present?
          = "#{event.daily_wage.to_s(:delimited)}円"
        - else
          = "未定"
      %th 募集
      %td
        = event.event_status.name
