// ユーザーカード複数使用の際は、使用元hamlでeachメソッドを使用し、引数をuserに設定する。

.user__card
  = link_to "", user_path(user.id), class: "link__card"
  .user-image
    - if user.profile_image?
      = image_tag user.profile_image.index.url, alt: 'profile image', class: 'index__image'
    - else
      = image_tag 'default.jpg', alt: 'profile image', class: 'index__profile-image'
  .user-info
    = "#{user.last_name} #{user.first_name}"
    %br
    %span.small 評価：
    %span.highlight 4.5
