- provide(:page_title, '案件の詳細')

%p= flash[:notice]

.event__show
  -# 下記オーナー以外のview
  - if current_user == nil || @event.owner_id != current_user.id
    .owner__info
      %h3 発注者
      = render partial: 'layouts/user_index_card', locals: { user: @owner }
      -# 下記オーナーの場合のView
  - else
    .applicant__list
      %h3 エントリーユーザー
      - if @applicants.blank?
        %p エントリーユーザーはまだいません。
      - else
        %ul
          - @applicants.each do |applicant|
            - user = User.find(applicant.applicant_user_id)
            %li
              = render partial: 'layouts/user_index_card', locals: { user: user }
              -# 下記オーナー以外のView


  .event__info
    %table
      %tr
        %th 作成日/更新日
        %td
          - if @event.updated_at.present?
            = @event.updated_at.strftime('%Y年%-m月%-d日')
          - else
            = @event.created_at.strftime('%Y年%-m月%-d日')
      %tr
        %th イベント名
        %td= @event.name
      %tr
        %th 会場名
        %td
          - if @event.place_name.present?
            = @event.place_name
          - else
            = "---"
      %tr
        %th 都道府県
        %td= @event.prefecture.prefecture_name
      %tr
        %th 会場住所
        %td
          - if @event.address.present?
            = @event.address
          - else
            = "---"
      %tr
        %th 日程
        %td
          = @event.start_day.strftime('%Y年%-m月%-d日')
          - if @event.end_day.present?
            %br
            = "〜#{@event.end_day.strftime('%Y年%-m月%-d日')}"
      %tr
        %th 拘束時間
        %td
          = @event.work_start_time.strftime('%H:%M') if @event.work_start_time.present?
          - if @event.work_end_time.present?
            = " 〜 #{@event.work_end_time.strftime('%H:%M')}"
      %tr
        %th 日給
        %td
          - if @event.daily_wage.present?
            = @event.daily_wage
          - else
            = "---"
      %tr
        %th 募集人数
        %td= "#{@event.assign_num}名"
      %tr
        %th エントリー人数
        %td= "#{@applicants.count}名"
      %tr
        %th ステータス
        %td= @event.event_status.name
      %tr
        %th 詳細
        %td
          - if @event.detail.present?
            = @event.detail
          - else
            = "---"

  - if current_user == nil
    .entry__btn
      = button_to "案件にエントリー", new_user_session_path
      -# エントリー済み = エントリー取り消し

  - elsif @applicant.nil? && @event.owner_id != current_user.id
    .entry__btn
      = button_to "案件にエントリー", applicants_path(applicant_user_id: current_user.id, event_id: @event.id), data: {confirm: "エントリーします。" }

      -# オーナー以外（その他） = 通常
  - elsif @applicant.present?
    .entry__btn
      = button_to "エントリーの取消", applicant_path(@applicant.id, event_id: @event.id), method: :delete, data: {confirm: "エントリー取り消しますがよろしいですか？" }

  - else
    .entry__btn
      = button_to "案件の編集", edit_event_path(@event.id), method: :get
