.events__list
  %ul
    - @events.each do |event|
      .event__index-card.index-card
        %li
          %a.event-detail-link{ href: "#"}
          %h5.event__title= event.name
          %table
            %tr
              %th.header 勤務地
              %td.content= event.prefecture.prefecture_name
              %th.header ポジション
              %td.content= event.position.name
            %tr
              %th.header 日程
              %td.content
                = event.start_day
                - if event.end_day.present?
                  %P.no-margin= "〜#{event.end_day}"
              %th.header 日給
              %td.content
                - if event.daily_wage.present?
                  = event.daily_wage
                - else
                  = "未定"
