#wrapper
  %p.btn-gnavi
    %span
    %span
    %span
  %nav#global-navi
    %ul.menu
      %li= link_to "仕事を探す", "#"
      %li= link_to "仕事を依頼する", "#"
      %li= link_to "マイジョブ", "#"
      %li= link_to "プロフィール", "#"
      %li= link_to "ログアウト", "#"
